* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/background2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booksContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 25px 0;
  font-size: 45px;
}

.books {
  perspective: 1000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  position: relative;
  width: 210px;
  height: 300px;
  border: 3px solid #2691d9;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  margin: 25px;
  border-radius: 4px;
}

.book > div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.book .front img {
  width: 100%;
  height: 100%;
}

.book .back {
  background-color: #fff;
  transform: rotateY(180deg);
  padding: 10px;
}

.book:hover {
  transform: rotateY(180deg);
}

.book .back > div {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.book .back .line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2691d9;
  margin: 15px 0;
}

a:not(.prevPageLink) {
  width: 100%;
  border: 2px solid #2691d9;
  margin: 8px 0;
  background: transparent;
  border-radius: 20px;
  font-size: 15px;
  color: #2691d9;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
}

a:not(.prevPageLink):hover {
  background: #2691d9;
  color: #e9f4fb;
}

a#deleteBook {
  border: 2px solid #dc3545;
  color: #dc3545;
}

a#deleteBook:hover {
  background: #dc3545;
  color: #e9f4fb;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #2691d9;
  font-size: 15px;
  font-weight: bold;
}

form > div:first-of-type {
  width: 50%;
}

form > div:nth-of-type(2) {
  width: 25%;
}

form > div:last-of-type {
  width: 12.5%;
  align-self: flex-end;
}

form label {
  display: block;
  margin-bottom: 5px;
  text-shadow: 2px 2px #2691d95b;
}

form input,
form select {
  width: 100%;
  height: 35px;
  padding: 5px;
  outline: none;
  border: 2px solid #2691d9;
  border-radius: 4px;
}

form button {
  width: 100%;
  height: 35px;
  border: 2px solid #2691d9;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  background-color: #2691d9;
  color: #fff;
}

.books #noBooks {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
